django<2
dj-database-url
conversion
django-requestlogging
django-log-request-id
psycopg2
waitress
django-extensions
djangorestframework
ipython<6
django-debug-toolbar==1.8
django-mass-edit
django-import-export
django-nested-admin
python-google-places
django-sendgrid-v5
enum34
celery<5
google-python-cloud-debugger
google-cloud-bigquery
django-model-utils
django-audit-trail
django-auto-one-to-one
python-dateutil
redis
django-jet
django-favicon
django-heroku-memcacheify
whitenoise>3.3.0
gunicorn
django-redis
raven
newrelic
django-cors-headers==1.1.0
django-filter==0.13.0
django-graphiql==0.4.4
graphene==0.10.2
graphql-django-view==1.3
Pillow==3.1.0
singledispatch==3.4.0.3
