{% extends 'admin/change_list.html' %}
{##}
{#{% block object-tools %}#}
{#    <style>#}
{#        .button-ovride {#}
{#            display: block;#}
{#            float: left;#}
{#            padding: 3px 12px;#}
{#            background: #999;#}
{#            font-weight: 400;#}
{#            font-size: 11px;#}
{#            text-transform: uppercase;#}
{#            letter-spacing: 0.5px;#}
{#            color: #fff;#}
{#            border-radius:15px;#}
{#            line-height:20px;#}
{#        }#}
{#    </style>#}
{#    <div>#}
{#        <ul class="object-tools">#}
{#        <li>#}
{#            <a href="/provider/invoices/vendorsafetyproxy/add/" class="addlink">#}
{#                Add Safety Report#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <form action="/provider/invoices/vendorsafetyproxy/finalize_safety_report/" method="POST">#}
{#                {% csrf_token %}#}
{#                <button type="submit" class="button-ovride">Finalize Safety Report</button>#}
{#            </form>#}
{#        </li>#}
{#        </ul>#}
{#    </div>#}
{#    <br/>#}
{#{% endblock %}#}