{% extends "admin/base.html" %}

{% block title %}
    {{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}
{% block branding %}
        <style>


    body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #f1f1f1;
}

    #header {
    width: auto;
    height: 60px;
    padding: 10px 40px;
    background-color: #4E3629 !important;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}

    #user-tools {
        float: right;
        padding: 0;
        margin: 10px 0 0 40px;
        font-weight: 300;
        font-size: 11px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-align: right;
        color: #4E3629 !important;
}

a.section:link, a.section:visited{
    color:#FFF !important;
}

        #header a:link, #header a:visited {
            color: #FFF !important;
        }

        a:link, a:visited {
            color: #333 !important;
            text-decoration: none;
        }

        .module h2, .module caption, .inline-group h2 {
            margin: 0;
            padding: 8px;
            font-weight: 400;
            font-size: 13px;
            text-align: left;
            background: #4E3629 !important;
            color: #fff !important;
        }

        #branding {
            margin-left: 20px;
        }

    </style>
    <h1 id="site-name"><img src="https://storage.googleapis.com/nwanwanwanwanwa/unnamed.png" style="margin-bottom: 10px; margin-top:20px;" /></h1>


{% endblock %}


{% block nav-global %}{% endblock %}