{% extends "admin/index.html" %}

{% block extrahead %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% if app_list %}
      <script type="text/javascript">
        $( document ).ready(function() {
          document.getElementsByClassName('model-serviceforecastitemnwa')[0].style.display = 'none';
          document.getElementsByClassName('model-discrepancyreportitemnwa')[0].style.display = 'none';
        });
     </script>
   {% endif %}
{% endblock %}